.Projects{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1%;
    row-gap: 15px;
    background-color: rgb(54, 52, 52);
}
@media screen and (max-width:768px) {
    .Projects{
        height: 120vh;
    }
}
@media screen and (max-width:525px) {
    .Projects{
        height: 250vh;
        padding-bottom: 1%;
    }
}
