.Education {
  width: 100%;
  height: 100vh;
  background-color: darkorchid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Splash-Education {
  width: 50%;
  height: 100%;
  border-top: 5px solid yellow ;
  border-left: 5px solid yellow ;
  background: url("https://media0.giphy.com/media/qld24z8JsiZMZDMO7p/giphy.gif");
  background-size: cover;
  opacity: 0.7;
}
.Education-details {
  width: 50%;
  height: 90%;
  position: relative;
  left: -10%;
  display: flex;
  flex-direction: column;
  color:black;
  justify-content: center;
  align-items: center;
}
.Education-details-table{
  width: 100%;
  border-right: 5px solid yellow;
}
.Interniship{
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  color: yellow;
}
@media screen and (max-width:800px) {
  .Splash-Education{
    width: 90%;
  }
  .Education-details{
    left: -25%;
  }
  .Interniship{
    width: 120%;
  }

  @media screen and (max-width:550px) {
    .Interniship{
      width: 150%;
    }
}
  

  
}


