.Education {
  width: 100%;
  height: 100vh;
  background-color: darkorchid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Splash-Education {
  width: 40%;
  height: 90%;
  border-top: 5px solid yellow ;
  border-left: 5px solid yellow ;
  background: url("https://i.pinimg.com/originals/8c/13/65/8c136550a14b3a5070bc364549d9121f.gif");
  background-size: cover;
  opacity: 0.7;
}
.Education-details {
  width: 50%;
  height: 90%;
  position: relative;
  left: -10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Education-details-table{
  width: 100%;
  border-right: 5px solid yellow;
}
@media screen and (max-width:700px) {
  .Splash-Education{
    width: 90%;
  }
  .Education-details{
    left: -25%;
  }

  
}


