.About{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(37, 37, 37);
}
.cube-animation{
    width: 40%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .cube {
    width: 150px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
  }
  
  .side {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 5px solid orange;
    box-shadow: 0px 0px 50px orange;
    border-radius: 10px;
  }
  .side:hover{
    border: 5px solid white;
    box-shadow: 0px 0px 50px white;
    background-color: rgba(255, 255, 255,0.3);
  }
  
  .front {
    transform: rotateY(0deg) translateZ(75px);
  }
  .right {
    transform: rotateY(90deg) translateZ(75px);
  }
  .back {
    transform: rotateY(180deg) translateZ(75px);
  }
  .left {
    transform: rotateY(-90deg) translateZ(75px);
  }
  .top {
    transform: rotateX(90deg) translateZ(75px);
  }
  .bottom {
    transform: rotateX(-90deg) translateZ(75px);
  }
  .About-title{
    color: orange;
  }

  .About-list{
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .About-list>h2{
    color: orange;
  }
  @media screen and (max-width:550px){
    .About{
      flex-direction: column;
    }
    .cube-animation{
      height: 30%;
      width: 90%;
    }
    .About-list{
      width: 90%;
    }
  }